# Node.js dependencies
node_modules/

# Environment variables
.env
.env.enc

# Coverage reports
coverage/
coverage.json

# Deployment artifacts
deployments/

# Ignore build artifacts
artifacts/
cache/
typechain-types/
